

/*Общие стили для всего документа*/
html{
    font-family: var(--default-text);
}
body{
    color: black;
}
a{
    font-family: var(--easy-text);
}
.container{
    background:var(--grey-back);
    width: 80%;
    margin: 0 auto;
    padding-left:15px;
    padding-right: 15px;
    display: flex;
    flex-flow: column;
}
.container:not(.header .container){
    padding-top: 100px;
    padding-bottom: 100px;
}
.title {
    text-transform: capitalize;
    font-family: var(--main-text);
    text-align: center;
    font-weight: 900;
    /* display: flex; */
    margin: 0 auto 20px;
}
.title::after{
    content: "";
    width: 100%;;
    height: 3px;
    background: lightskyblue;
    display: block;
    margin-top: 10px;
}
.title:hover::after{
    background: khaki;
}
.blockTitle{
    margin-bottom: 30px;
    text-transform: capitalize;
}

/* Стили для header */
.header{
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: 1px solid red;
    box-shadow: 0 0 40px red, 20px 20px 40px black, 40px 40px 40px white;
    background: black;
}
.header .container{
    background: dimgray;

   
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navList{
    display: flex;
}
/* задаем правый отступ всем элементам не считая последнего */
.navList li:not(:last-child){
    margin-right: 10px;
}
.navList li a {
    padding: 20px 0;
    position: relative;
}
.navList li a::after{
    content: "";
    /* width:inherit; */
    /* height: 10px; */
    /* background: blue;   */
    width: 100%;
    display: block;
    border: 1px solid blue;
    margin-top: 5px;
    opacity: 0;
    position: absolute;
    bottom: 16px;
}
.navList li a:hover,
.navList li a:focus
{
    color: ivory;
}
/* .navList li a:visited{ */
    /* color: gray; */
/* } */
.navList li a:active{
    color: hotpink;
}
.navList li a:hover::after,
.navList li a:focus::after
{
    opacity: 1;
}
.nav>a{
    text-transform: capitalize;
}
.nav .navList a{
    text-transform: uppercase;
}
/* Стили для header */

/* Стили для hero */
.hero{
    background: rgb(132, 176, 219);
    background: linear-gradient(145deg,
     rgb(236, 8, 8) 0%,
     rgb(236, 8, 8) 14%,
     rgb(235, 176, 14) 14%,
     rgb(235, 176, 14) 28%,
     rgb(229, 233, 9) 28%,
     rgb(229, 233, 9) 42%,
      rgb(130, 225, 35) 42%,
      rgb(130, 225, 35) 56%,
      rgb(25, 187, 236) 56%,
       rgb(25, 187, 236) 70%,
        rgb(22, 18, 236) 70%,
        rgb(22, 18, 236) 84%, 
       rgb(149, 4, 179) 84%,
       rgb(149, 4, 179) 100%);
    /* background: linear-gradient(180deg, rgb(144, 136, 216) 8%, rgb(130, 225, 35) 92%); */
 
}
.hero .title{
    color: orangered;
}
.socialList {
    display: flex;
    margin-top: 20px;
    justify-content: space-evenly;
}
.socialList li{
    width: 44px;
    height: 44px;
    border: 44px;
    background: rgb(224, 225, 228);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.socialList li:not(:last-child){
    margin-right: 10px;
}


/* Стили для hero */

/* Стили для about*/
.about .title{
    color: slateblue;
}
.about .container{
    display: flex;
    flex-flow: column;
    background: linear-gradient(45deg, rgb(144, 136, 216) 50%, rgb(130, 225, 35) 50%);
}
.aboutCont{
    display: flex;
    background: linear-gradient(45deg, rgb(30, 159, 245) 50%, rgb(231, 71, 218) 50%);

}
.aboutCont img{
    margin-right: 30px;
}
.about{
    background: rgb(182, 152, 77); 
  
}

/* Стили для about*/
/* Стили для skills*/
.skills .title{
    color: teal;
    
}
.skills{
    background: rgb(155, 77, 116);
 
}
/* Стили для skills*/
/* Стили для work*/
.work .title{
    color: purple;
}
.work .container{
    justify-content: space-between;
    align-items: center;
}
.work{
    background: rgb(96, 172, 168);
 
}
.workList li {
    width: 250px;
    height: 200px;
    border: 1px solid white;
    margin-top: 20px;
}
.workList{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 10px;
}
/* Стили для work*/
/* Стили для contact*/
.contact .title{
    color: white;
}
.contact{
    background: rgb(233, 164, 61);
    background: radial-gradient(
    rgb(236, 8, 8) 0%,
    rgb(236, 8, 8) 14%,
    rgb(235, 176, 14) 14%,
    rgb(235, 176, 14) 28%,
    rgb(229, 233, 9) 28%,
    rgb(229, 233, 9) 42%,
     rgb(130, 225, 35) 42%,
     rgb(130, 225, 35) 56%,
     rgb(25, 187, 236) 56%,
      rgb(25, 187, 236) 70%,
       rgb(22, 18, 236) 70%,
       rgb(22, 18, 236) 84%, 
      rgb(149, 4, 179) 84%,
      rgb(149, 4, 179) 100%);    
}
.contact .container{
    align-items: center;
}
.contactForm {
    display: flex;
    flex-flow: column;
    width: 80%;
    align-items: center;
}
.contactForm input,
.contactForm textarea{
    width: 80%;
    margin-bottom: 20px;
    padding: 10px;
}
.contactForm button{
    padding: 10px 20px;
    border: none;
    background:blue;
    color: cornsilk;
    text-transform: capitalize;
    letter-spacing: 0.5em;
    cursor: wait;
}
/* Стили для contact*/



/* Стили для footer */
.footer{
    background: black;

}

/* Стили для footer */

/* стили кнопки открытия модального окна */

#modalBtn{
    color: blanchedalmond;
    background: black;
    padding: 10px 20px;
    border: none;
}



