a {
    color: violet;
    text-decoration: none;
}

ul,ol {
    list-style: none;
}

* {
    padding: 0;
    margin: 0;
}
#about{
    background-color: rgb(59, 228, 25);
}
#skills{
    background-color: rgb(230, 241, 68);
}
.title{
    text-transform: uppercase;
    color: rgb(197, 18, 18);
}